<div class="jumbotron mb-5 mt-2 p-3">
  <h1 class="display-4 text-dark text-center">
    <strong>{{user.first_name}} {{user.last_name}}</strong>
  </h1>
</div>

<div class="container">
  <div class="row" id="cards">
    <div class="col-s-0 col-md-4 col-lg-5"></div>
    <div class="card col-sm-12 col-md-4 col-lg-3" style="width: 18rem;">
      <img class="card-img-top mt-3" src="{{user.profile_img}}" alt="A Picture of {{user.first_name}}">
      <div class="card-body">
        <p class="card-text text-dark">Email :{{user.email}}</p>
        <p class="card-text text-dark">Joined On :{{user.createdAt}}</p>
      </div>
    </div>
  </div>
    <div class="row" id = "eventInfo">
      {{#if events}}
      <div class="col-xs-12 col-md-6 text-dark m-3">
        <h2>Attending Events:</h2>
        <ul>
          
          {{#each event}}
          <li>
            <p>
              Event Name: {{name}}
              <br>
              Event Link: <a href="http://localhost:8080/event/{{id}}">{{name}}</a>
            </p>
          </li>
          {{/each}}
        </ul>
      </div>
      {{/if}}
      {{#if adminEvents}}
      <div class="col-xs-12 col-md-6 text-dark m-3">
        <h2>Administrating Events:</h2>
        <ul>
          {{#each adminEvents}}
          <li>
            <p>
              <a href="http://localhost:8080/event/{{id}}">{{name}}</a>
            </p>
          </li>
          {{/each}}
        </ul>
      </div>
      {{/if}}
    </div>
</div>